<% provide(:title, "about") %>
<div class="short-width center-block">
	<h1 class="text-center center-block">who we are</h1>
		<p class="text-center center-block space-below">“But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.”</p>

	<h2>Meet the Makers</h2>

	<div class="content">
		<%= image_tag("emma.jpg", height: '170', width: '170', alt: "emma", :class => "float") %>
		<div class="bio">
			<h4>Emma Zeng, CEO</h4>
				<p>“But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure."</p>
		</div>
	</div>

	<div class="content">
		<%= image_tag("tracy.jpg", height: '170', width: '170', alt:"tracy", :class => "float") %>
		<div class="bio">
			<h4>Tracy Gao, CMO</h4>
				<p>“But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth."</p>
		</div>
	</div>

	<div class="content">
		<%= image_tag("willa.jpg", height: '170', width: '170', alt:"willa", :class => "float") %>
		<div class="bio">
			<h4>Willa Yu</h4>
				<p>“But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes."</p>
		</div>
	</div>
	
</div>
