<% provide(:title, "about") %>
<div class="short-width center-block">
	<h1 class="text-center center-block">who we are</h1>
		<p class="text-center center-block space-below">Fully Loaded is a student run business that sells gourmet french fries during the late nights of weekends. Our fries are made with fresh ingredients and with the caring love of those who are passionate about cooking. </p>

	<h2>Meet the Makers</h2>

	<div class="content">
		<%= image_tag("emma.jpg", height: '170', width: '170', alt: "emma", :class => "float") %>
		<div class="bio">
			<h4>Emma Zeng, CEO</h4>
				<p>Emma Zeng is currently a junior at Johns Hopkins University who loves to cook when she's not studying for med school. She began Fully Loaded because she wanted to experiment with different flavors and try out new things. It was a hobby at first, but then her friends convinced her to make it into a business. </p>
		</div>
	</div>

	<div class="content">
		<%= image_tag("tracy.jpg", height: '170', width: '170', alt:"tracy", :class => "float") %>
		<div class="bio">
			<h4>Tracy Gao, CMO</h4>
				<p>Tracy Gao is an amateur photographer and graphic designer who wanted to see how far Fully Loaded would get her. She enjoys uploading to its Instagram often. </p>
		</div>
	</div>

	<div class="content">
		<%= image_tag("willa.jpg", height: '170', width: '170', alt:"willa", :class => "float") %>
		<div class="bio">
			<h4>Willa Yu</h4>
				<p>Willa Yu is always organizing and trying out new things. She loves helping out people, and took up the opportunity to expand Fully Loaded by helping out with orders and delivering to different locations.</p>
		</div>
	</div>

</div>
