<% provide(:title, "contact") %>
<h1 class="text-center center-block" style="margin-right:22px">contact</h1>
<form class="text-center center-block">
	<h4>name</h4>
		<input type="text" class="text-center center-block">
		</input>
	<h4>e-mail</h4>
		<input type="text" class="text-center center-block">
		</input>
	<h4>subject</h4>
		<input type="text" class="text-center center-block">
		</input>
	<h4>message</h4>
		<input type="text" class="text-center center-block">
		</input>
	<h5 class="btn btn-primary" style="margin-top:45px">submit</h5>
</form>

