<% provide(:title, "contact") %>
<h1 class="text-center center-block" style="margin-right:22px">contact</h1>
<form class="text-center center-block">
	<h3>name</h3>
		<input type="text" class="text-center center-block">
		</input>
	<h3>e-mail</h3>
		<input type="text" class="text-center center-block">
		</input>
	<h3>subject</h3>
		<input type="text" class="text-center center-block">
		</input>
	<h3>message</h3>
		<input type="text" class="text-center center-block">
		</input>
	<h5 class="btn btn-primary" style="margin-top:30px">submit</h5>
</form>

