<% provide(:title, "fully loaded | faq") %>
<div class="short-width center-block">
	<h1 class="text-center center-block" style="padding-bottom: 45px; margin-right: 19px;">faq</h1>

		<h3 class="question">where do your ingredients come from?</h3>
		<p class="answer">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, </p>

		<h3 class="question">how do you make such awesome fries?</h3>
		<p class="answer">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, o</p>

		<h3 class="question">how do I order this?</h3>
		<p class="answer">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, o</p>

		<h3 class="question">can I order multiple fries for a group?</h3>
		<p class="answer">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, o</p>
</div>