<% provide(:title, "fully loaded | faq") %>
<div class="short-width center-block">
	<h1 class="text-center center-block" style="padding-bottom: 45px; margin-right: 19px;">faq</h1>

		<h3 class="question">where do your ingredients come from?</h3>
		<p class="answer">Our ingredients come from various sources: the weekly farmer's market, eddie's grocery market, and Giant's. We buy our weekly supply of potatoes from the farmer's market, and buy other ingredients that we use to season our potatoes from Eddie's and Giant's.</p>

		<h3 class="question">how do you make such awesome fries?</h3>
		<p class="answer">They all come from the genius head of Emma Zeng, who reportedly has over 30 french fry recipes she's waiting to try out. You can also find the recipes of many of the french fries we serve. Emma likes to put her own twist on them. </p>

		<h3 class="question">how do I order this?</h3>
		<p class="answer">There are two ways you can order. You can either use the order form that can be found in the order page of this website, or you can text us at <a href="tel:1-908-349-4094">(908) 349-4094</a>. Choose whatever is most convenient for you! </p>

		<h3 class="question">can I order multiple fries for a group?</h3>
		<p class="answer">If you want to order multiple fries for a group, then all you have to do is order in advance, and Emma will prepare that group order from 30 to 45 minutes. </p>
</div>