<% provide(:title, "order") %>
<h1>ordering</h1>
	<h4>choose your fries.</h4>
	<p>Fully Loaded offers a wide variety of fries… Choose your favorite to get started!</p>
	<h5 class="button">menu</h5>
	<img src="" alt="picture of all of the fries">

	<h4>text or fill out a form.</h4>
	<p>Text (908) 349-4094 what you want and we’ll start cooking asap. If you
	prefer ordering through our website, please fill out the form below.</p>
	<h5 class="button">order</h5>
	<img src="" alt="picture of iphone">

	<h4>pick up your order.</h4>
	<p>Your order will be ready in 10 to 15 minutes later. Come pick up your
	delicious fries at the front entrance of Village Lofts</p>
	<img src="" alt="pick up your fries">



