<% provide(:title, "order form") %>
<h1 class="text-center center-block" style="margin-right:22px">your order</h1>
<form class="text-center center-block">
	<h4>name</h4>
		<input type="text" class="text-center center-block">
		</input>
	<h4>phone</h4>
		<input type="text" class="text-center center-block">
		</input>
	<h4>which fry do you want? <br/> <p style="font-size:12px">(just type them out)</style></h4>
		<input type="text" class="text-center center-block">
		</input>
	<h4>how many of those?</h4>
		<input type="text" class="text-center center-block">
		</input>
	<h5 class="btn btn-primary" style="margin-top:45px">submit</h5>
</form>
