<!--Footer-->
 <div style="background-color: #F8F1D5; margin-top: 20px; padding-top:15px; padding-bottom: 15px;">
  <footer class="page-footer font-small blue pt-4 mt-4">
      <div class="container-fluid text-center text-md-left">
	          <div class="row">
	  
	              <!--First column-->
	              <div class="col-md-6">
	                  <h4 class="text-uppercase">Fully Loaded</h4>
	                  <p>Website made with &hearts; by <a href="davidin.me">David In</a>.</p>
	              </div>
	              <!--/.First column-->
	  
	              <!--Second column-->
	              <div class="col-md-6">
	                  <h4 class="text-uppercase">Links</h4>
	                  <ul class="list-unstyled">
						  <li><%= link_to "Contact", contact_path %></li>
						  <li><%= link_to "FAQ", faq_path %></li>
						  <li><a href="https://www.instagram.com/fullyloadedhopkins/">Instagram</a></li>
	                  </ul>
	              </div>
	              <!--/.Second column-->
	          </div>
	      </div>
	  <!--/.Footer Links-->
	  <!--Copyright-->
	  <div class="footer-copyright py-3 text-center">
	      <div class="container-fluid">
	          © 2018 Copyright: Fully Loaded

	      </div>
	  </div>
	  <!--/.Copyright-->
  
  </footer>
  <!--/.Footer-->
</div>